<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="Console"
			layout="${shortdate}|${level:uppercase=true}|${message}|${exception}" />
		<!-- <target name="file" 
				fileName="${basedir}/error.txt"
                layout="${longdate}
						Trace: ${stacktrace} 
						${message}" /> -->
		<target name="LogFile" xsi:type="File"
		fileName="${basedir}/Log/${shortdate}myLog.txt"
              layout="${longdate}|${level:uppercase=true}|${message}|${exception}" />
    
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="LogFile" />
	</rules>
</nlog>