<div class="container">
    <form [formGroup]="objectiveForm" class='form row' (ngSubmit)="postObjective(objectiveForm.value)">
        <!-- Устанавливает заголовок. -->
        <div class="form-group col-6">
          <label>Title</label>
          <input type='text' class="form-control" name='title' formControlName='title' placeholder="Заголовок задачи">
          <div class="alert alert-danger"
                *ngIf="objectiveForm.controls['title'].invalid && objectiveForm.controls['title'].touched">
                Обязательно для заполнения
          </div>
          <!-- Дропдаун с приоритетами задачи. -->
          <div class="form-group">
              <label>Priority</label>
                  <select class="form-control" formControlName='priority'>
                      <option *ngFor="let prior of priorities">
                          {{prior}}
                      </option>
                  </select>
          </div>
        </div>
        <!-- Описание задачи. -->
        <div class="form-group col-6">
          <label>Description</label>
          <textarea class="form-control" name='description' formControlName='description' placeholder="Описание задачи" rows="4"></textarea>
            <div class="alert alert-danger"
                *ngIf="objectiveForm.controls['description'].invalid && objectiveForm.controls['description'].touched">
                Обязательно для заполнения
            </div>
        </div>
        <div class="form-group row justify-content-center" *ngIf="checkForm(); else elseBlock">
            <button class='btn btn-primary'>Добавить задачу</button>
        </div>
        <ng-template #elseBlock>
            <div class="row justify-content-center">
                <button class='btn btn-primary disabled'>Добавить задачу</button>
            </div>
        </ng-template>
    </form>    
</div> 
